<nav class="navbar navbar-expand-md navbar-light bg-dark navbar-toggler">
    <a class="navbar-brand" href="#">
        <img src="/static/images/Blarticx Logo (2).png" width="40" height="40" class="d-inline-block align-top"
            alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
        aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse d-flex justify-content-around" id="navbarsExampleDefault">
        
           
        

        <ul class="navbar-nav navbar-right ">
                
        
                <li class="nav-item">
                    <a style="text-decoration: none; color: #ffbd4a; " class="nav-link" href="/articles">Articles</a>
                </li>
                <li class="nav-item">
                    <a style="text-decoration: none; color: #ffbd4a; " class="nav-link" href="/about">About </a>
                </li>
                <li class="nav-item">
                    <a style="text-decoration: none; color: #ffbd4a; " class="nav-link" href="/dashboard">Dashboard </a>
                </li>
                
            </ul>
            <div class="d-flex justify-content-end">

                <a style="text-decoration: none; color: #ff5c5c; " class="nav-link" href="/logout">Logout </a>
            </div>
    </div>
</nav>