{% extends 'layout.html' %}

{% block body %}
{% include 'includes/_navbar.html' %}

<div class="p-5">

    <h1 style="color: #ffbd4a;">About Us</h1>
    <p style="color: lightgray;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem dolores quas commodi culpa dolorem doloribus? Corporis placeat assumenda perferendis iure amet optio eligendi nulla dicta, quaerat laborum quod culpa! Veniam. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempora iure quos ab quod odit veniam dolorum perspiciatis atque. Sunt nulla quas assumenda id dolores consectetur quam ducimus labore ipsa incidunt. Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque, aliquam nemo fugiat laborum, ratione aspernatur, eaque dolor expedita placeat molestiae consectetur harum facere quae hic iste illo neque voluptatibus quam?
    </p>
</div>
    {% endblock %}