{% extends 'layout.html' %}

{% block body %}
    <div class="login-register mt-5 p-5" style="color: #ff5c5c;">

        <h1>Login</h1>
        
            
            <form action="" method="POST">
                <div class="form-group">
                    <label>Username</label>
                    <input type="text" name="username" class="form-control" value="{{request.form.username}}">
                </div>
                <div class="form-group">
                <label>Password</label>
                <input type="password" name="password" class="form-control" value="{{request.form.password}}">
            </div>

            <div class="row d-flex justify-content-between p-5">
                <button type="submit" class="btn btn-warning">Submit</button>
                <a style="text-decoration: none;" href="/register">Register here</a>
            </div>
            
        </form>
    
</div>
{% endblock %}